.martincv-openai-post__field {
	margin-bottom: 15px;
}

.martincv-openai-post__field label {
	font-weight: bold;
	margin-bottom: 5px;
}

.martincv-openai-post__field em {
	font-size: 10px;
	line-height: 0.9;
}

.martincv-openai-post__field a {
	font-size: 12px;
}

.martincv-openai-post-settings {
	display: none;
}

.martincv-openai-post-settings label, .martincv-openai-post-settings input {
	display: block !important;
}
